@media (max-width:1400px) {
    .main__location-title {
        font-size: 32px;
        line-height: 30px;
        left: 20px;
    }
}

@media (max-width:1200px) {

    /* SALE SECTION >>> */
    .main__sale-title {
        font-size: 30px;
        line-height: 30px;
    }

    .main__sale-text {
        margin: 20px 0;
    }

    .main__sale-catalog {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 30px;
        row-gap: 30px;
    }

    .main__sale-sub {
        font-size: 24px;
        line-height: 20px;
    }

    .main__sale-name {
        margin-top: 5px;
    }

    /* <<< SALE SECTION */
    /* PROJECT SECTION >>> */
    .main__project-item {
        padding: 5px;
    }

    .main__project-sub {
        padding: 10px;
    }

    .main__project-name {
        font-size: 20px;
    }

    .main__project-title {
        font-size: 30px;
    }
}

@media (max-width:992px) {

    /* SALE SECTION >>> */
    .main__sale {
        flex-direction: column;
        padding: 60px 0;
        column-gap: 0;
    }

    .main__sale-info {
        margin-top: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* <<< SALE SECTION */
    /* PROJECT SECTION >>> */
    .main__project-name {
        font-size: 18px;
    }

    .main__project-text,
    .main__project-text span {
        font-size: 16px;
    }

    /* <<< PROJECT SECTION */
    /* LOCATION SECTION >>> */
    .main__location-title {
        top: -20px;
        font-size: 20px;
    }

    .main__location-name {
        font-size: 14px;
    }

    /* <<< LOCATION SECTION */
}

@media (max-width:768px) {

    /* SALE SECTION >>> */
    .main__sale-catalog {
        margin-bottom: 20px;
    }

    /* <<< SALE SECTION */
    /* PROJECT SECTION >>> */
    .main__project-content {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
    }

    .main__project-title {
        margin-bottom: 20px;
    }

    /* <<< PROJECT SECTION */
    /* LOCATION SECTION >>> */
    .main__location {
        padding: 60px 0;
    }

    .main__location-title {
        left: 0;
        padding: 0 15px;
        font-size: 16px;
        line-height: 20px;
    }
    .main__location-name {
        font-size: 10px;
        line-height: 14px;
    }

    .main__location-dot {
        width: 20px;
        height: 20px;
        margin-top: 0px;
    }

    .main__location-dot::before {
        width: 20px;
        height: 20px;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
        border: 2px solid var(--darkBlue);
    }

    /* <<< LOCATION SECTION */

}

@media (max-width:576px) {
    .header__content {
        height: 600px;
        justify-content: center;
        padding: 0 15px;
    }

    .header__content-items {
        padding: 30px;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .header__content-title {
        font-size: 18px;
        line-height: 25px;
        padding-top: 5px;
        max-width: 100%;
    }

    .header__content-info {
        column-gap: 15px;
        row-gap: 15px;
        margin: 20px 0;
        justify-content: space-around;
    }

    .header__content-text {
        max-width: 100%;
    }

    .main__sale-image {
        height: 100%;
    }
}


@media (max-width: 480px) {

    /* SALE SECTION >>> */
    .main__sale-title {
        font-size: 24px;
    }

    /* <<< SALE SECTION */
}